/* KELSEY LAHAVICH */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* VARIABLES */
:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
    --molle: 'Molle', cursive;
    --monsterrat: 'Montserrat', sans-serif; 
}

/* SKIP LINK */
#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#menu-toggle h2 {
    display: none;
}

/* BODY AND HEADER */

body {
    font-family: var(--monsterrat);
    font-size: 16px;
}

h1, h2, h3 {
    font-family: var(--molle);
}

h4, p, q, small, nav, button, form {
    font-family: var(--monsterrat);
}

/* MOBILE FIRST STYLES / SMALL SCREENS */


body {
    line-height: 1.5rem;
}

header {
    background-image: linear-gradient(var(--teal), #ffffff);
}

h1 {
    font-size: 3rem;
    margin-left: 50px;
    margin-top: 15px;
}

header p {
    margin-left: 50px;
    margin-top: 15px;
}

#logo img {
    max-width: 40%;
    padding: 10px;
}

#menu-toggle {
    position: absolute;
    right: 0;
    top: 50px;
    text-transform: uppercase;
}

#menu-toggle label {
     background-color: var(--yellow);
     padding: 15px 100px;
}

#menu-toggle input {
    display: none;
}

#menu-toggle ul {
    position: relative;
    display: none;
    width: 100vw;
    height: 60vh;
    background-color: var(--teal);
}

#menu-toggle li {
    height: 20%;
    display: flex;
    border-bottom: .5 solid var(--dark-gray);
    justify-content: center;
    align-items: center;

}

#menu-toggle li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);

}

#menu-toggle input:checked ~ ul, #menu-toggle input:checked ~ label {
    display: flex;
    flex-direction: column;
}

#menu-toggle input:checked ~ label {
    align-items: center;
    background-color: var(--black);
    color: var(--white);
}


#intro h2, p {
    margin-left: 50px;
}

#intro h2 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

#img-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 33%) auto;
    gap: 10px;
}

#img-grid img {
    width: 100%;
    height: 100%;
}

#plan {
    background-color: var(--yellow);
}

#plan h3 {
        font-size: 2rem;
        margin-top: 100px;
        padding-top: 50px;
        padding-bottom: 20px;
        padding-left: 100px;
}

#plan div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
}

#plan img {
    max-width: 100%;
    width: 80%;
    margin-left: 20px;
}

#plan div section {
    background-color: var(--teal);
    border: 4px var(--white) solid;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(2, auto);
    padding: 20px;
}

#plan h4 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
    text-transform: uppercase;
    padding-bottom: 10px;
}

#testimonials h3 {
    font-size: 2rem;       
}

#testimonials section {
    display: grid;
    justify-items: center;
}

#testimonials h4 {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 10px;
}

#testimonials p {
    text-align: center;
    font-size: 1rem;
    font-weight: lighter;
    padding-right: 50px;
}

#testimonials q {
    font-size: italic;
    font-weight: lighter;
    max-width: 250px;
    text-align: center;
    margin-bottom: 10px;
}


#about {
    background-color: var(--blue);
}

#about section {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

#about h3 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 2rem;
}

#about div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

#about h4 {
    font-weight: bolder;
    text-transform: uppercase;
}

#about p {
    font-weight: lighter;
    font-size: 1rem;
}

#about img {
    width: 100px;
    height: 100px;
    padding: 20px;
}

#contact {
    display: flex;
    flex-direction: column;
}

#contact form {
    display: grid;
    margin: 0 5vw;
}

#contact h3{
    display: flex;
    font-size: 2rem;
    padding: 2rem 2rem;
}

#contact h3 span{
    font-size: 1rem;
    padding-left: 10px;
    font-style: italic;
    font-family: var(--monsterrat);
}

#contact input, #contact select {
    border: var(--purple) solid 2px;
}

#contact form {
    display: grid;
    margin: 0 10vw;
}

#contact form div {
    display: flex;
    flex-direction: column;
}

label span.required {
    color: var(--purple);
}

#contact form label {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

#contact input, select {
    margin-bottom: 20px;
    height: 10vh;
    font-size: 1rem;
    font-family: var(--monsterrat);
    font-weight: lighter;
    padding-left: 10px;
}

#contact input[type="radio"] {
    accent-color: var(--purple);
    margin: 5px;
    width: 50px;
    height: 70px;
}

.radio-label {
    font-weight: lighter ;
}

#nums legend {
    font-weight: bold;
    text-transform: uppercase;
}

fieldset {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr ; 
}

#mySubmit {
    margin-top: 10px;
    background-color: var(--purple);
    color: var(--white);
    text-transform: uppercase;
    font-weight: bolder;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10vh;
    padding: 10px;
    background-color: var(--light-gray);
}

footer a {
    text-decoration: none;
    padding: 5px;
    color: var(--black);
}

footer p {
    padding-bottom: 10px;
}



/* ---------MEDIA QUERIES---------- */

/* SMALL SCREENS*/
@media screen and (min-width: 500px) {
    #logo img {
        max-width: 80vw;
    }
    #about h3 {
        padding-top: 30px;
    }

    input {
        line-height: 2rem;
    }

    #contact input[type="radio"]{
        display: inline-block;
    }  


}
/* MEDIUM SCREEN MEDIA QUERIES */

@media screen and (min-width: 700px) {

    header h1 {
        position: relative;
    }

    /* NAV */
    #menu-toggle {
        position: static;
        align-items: center;
    }

    nav {
        display: grid;
        justify-items: center;
        margin-top: 30px;
        margin-bottom: -300px;
    }

    #menu-toggle ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 90vw;
        gap: 10px;
        background-color: transparent;  
    }

    #menu-toggle li {
        background-color: var(--white);
        font-weight: bold;
        border: none;
    }

    #menu-toggle .active {
        background-color: var(--yellow);
    }

    #menu-toggle li:hover {
        background-color: var(--yellow);
    }
    
    label[for="toggle"] {
        display: none;
    }

    /* INTRO */
    #intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #intro p {
        line-height: 2;
        margin-right: 90px;
    }

    #img-grid{
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 50% 50%;
        overflow: hidden;
        padding-bottom: .5rem;
        gap: 10px;
        margin-left: 50px;
    } 

    #img-grid picture {
        grid-column: 1 / -1;
    }

    /* PLAN */
    #plan div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0 10vw;
    }

    /* TESTIMONIALS */

    #testimonials h3 {
        margin-top: 20px;
    }

    #testimonials div {
        display: grid;
        margin: 0 10vw;
        grid-template-columns: 1fr 1fr;
    }

    /* ABOUT */

     #about div{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        margin: 0 10vw;
    }

    /* LARGE SCREEN MEDIA QUERIES */
    @media screen and (min-width: 1200px){
    
        /* HEADER */
    
        header {
            grid-template-columns: 15vw 1fr;
        }
    
        header h1{
            top: 10vh;
        }
    
        header p {
            padding-top: 10vh;
        }
    
        /* NAV */
    
        nav {
            position: absolute;
            top: 0;
            margin: 0;
            right: 0;
        }
    
        #menu-toggle ul {
            width: 60vw;
        }
    
        #menu-toggle li {
            height: 6vh;
        }
    
        /* INTRO */
    
        #intro {
            margin-top: 5vh;
            display: grid;
            grid-template-columns: 50% 1fr;
            grid-template-rows: repeat(3, auto);
        }
    
       #intro h2 {
            grid-column: 1/2;
            grid-row: 1/2;
            font-size: 2rem; 
        }
    
        #intro p {
            position: relative;
            grid-column: 1/2;
            grid-row: 1/2;
            font-size: 1.2rem;
            top: 15vh;
            line-height: 1.5;
        }
    
        #intro #img-grid {
            width: 100%;
            grid-template-columns: 50% 50%;
            grid-column: 2/3; 
            margin-left: -50px;
        }
    
    
        /* PLAN */
    
        #plan div{
            display: grid;
            grid-template-columns: repeat(4, 25%);
            grid-template-rows: auto;
            justify-content: center;
            padding-top: 30px;
            padding-bottom: 80px;
        }
    
    
        /* TESTIMONIALS */
    
        #testimonials div {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                padding-bottom: 60px;
                padding-top: 30px;
        }
    
        #testimonials h3 {
            margin-left: 90px;
        }
    
        /* ABOUT */
    
       #about section {
            padding: 10vh;
       }
    
       #about h3 {
        margin-left: 90px;
       }
    
       /* CONTACT */
    
        #contact h3 {
            grid-column: 1/-1;
            margin: 0;
        }
    
        #contact fieldset {
            max-width: 100%;
            min-width: 100%;
        }
    
        #contact form input, #contact select {
            height: 7vh;    
            }
    
        #contact form {
            display: grid;
            grid-template-columns: repeat(3, 33.33%);
            gap: 25px;
            width: 90%;
            margin: 30px;
        }
    
        #mySubmit {
            font-size: 1rem;
            position: relative;
            right: 0;
            width: 50%;
    
        }
    }